<div class="mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let item of items">
            <div class="card h-100" role="button" (click)="seeArtist(item)">
                <img [src]="item.images | noimage" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <span class="badge rounded-pill bg-primary" *ngFor="let artist of item.artists">{{artist.name}}</span>
                    <p class="card-text">{{artist}}</p>
                </div>
            </div>
        </div>
    </div>
</div>